body {
    background-color: rgb(197, 233, 188);
}
 .dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
 }
 .dashboard .dash-head{
    display: flex;
    align-items: center;
    background-color: hsl(108, 51%, 80%);
    width: 100vw;
 }
 .dashboard .dash-head .dash-title{
    font-size: 4rem;
    flex: 1;
    text-align: center
 }

 .dashboard .head-btn{
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;

 }

