body {
    background-color: rgb(197, 233, 188);
}
 .dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
 }
 .dashboard .dash-head{
    display: flex;
    align-items: center;
    background-color: hsl(108, 51%, 80%);
    width: 100vw;
    border: solid 1px hsl(0, 0%, 80%);
 }
 .dashboard .dash-head .dash-title{
    font-size: 4rem;
    flex: 1;
    text-align: center;
    margin-left: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }

 .dashboard .head-btn{
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    background-color:aqua ;
    margin-right: 10px;
    border: 1px solid hsl(0,0%,20%);
    color: black;

 }
 .dashboard .head-btn:hover{
    background-color:hsl(180, 100%, 40%) ;
 }
 .dashboard .joinBtn{
   color: black;
   background-color: aqua ;
   border-radius: 5px;
   border: 1px solid hsl(0,0%,20%);
   width: fit-content;
   height: 40px;
   padding: 10px 20px;
   margin-bottom: 5px;
   cursor: pointer;
   margin-top: 5px;
 }
 .dashboard .joinBtn:hover{
    background-color:hsl(180, 100%, 40%) ;
 }
 .dashboard .dash-display{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
 }
 .dashboard .dash-foot{
    display: flex;
    align-items: center;
    background-color: hsl(108, 51%, 80%);
    width: 100vw;
    margin-top: auto;
    padding: 50px;
    justify-content: center;
    border: solid 1px hsl(0, 0%, 80%);
 }
 .dashboard .dash-foot .copyright{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
 }
 .dashboard .dash-display .plant-list{
    display: flex;
    padding: 0;
    flex-direction: row;
    list-style: none;
    background-color: hsl(108, 51%, 80%);
    padding: 10px;
    border: solid 1px hsl(0, 0%, 80%);
    border-radius: 6%;
 }



