#back{
    height: 100vh;
    background-image: url(0_2.webp);
    background-position: bottom;
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-size: auto 30%;
    background-color: rgb(197, 233, 188);
    border: rgb(197, 233, 188);
    display: flex;
    align-items: center;
    justify-content: center;
}

#fp{
    background-size: auto 35%;
    border: 15px solid;
    border-image: conic-gradient(rgb(58, 226, 58), yellow,rgb(58, 226, 58), rgb(22, 61, 188), rgb(58, 226, 58), yellow,rgb(58, 226, 58), rgb(22, 61, 188), rgb(58, 226, 58)) 1;
    background-color: rgb(253, 252, 252);
    width: 400px;
    height: 250px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.passLbl{
    margin-bottom:0.1px ;
}
#fplabel {
    display: inline-block;
    width: 50px;
    margin-right: 0px; 
    margin-left: 20px;
    text-align: right;
  }

#fpinput {
    display: inline;
    margin-right: 40px;
}

#fpbutton {
    margin-left: 10px; /* Adjust the margin as needed */
}