#back{
    height: 100vh;
    background-image: url(Background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
#login{
    border: 5px solid;
    background: white;
    border-color: #BF5700;
    border-radius: 25px;
    width: 400px;
    height: 400px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
p{
    
    margin: 0.1px;
    color: rgba(128, 128, 128, 0.9);
}
.passLbl{
    margin-bottom:0.1px ;
}