#back{
    height: 100vh;
    background-image: url(0_2.webp);
    background-position: bottom;
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-size: auto 30%;
    background-color: rgb(197, 233, 188);
    border: rgb(197, 233, 188);
    display: flex;
    align-items: center;
    justify-content: center;
}

#rp{
    background-size: auto 35%;
    border: 15px solid;
    border-image: conic-gradient(rgb(58, 226, 58), yellow,rgb(58, 226, 58), rgb(22, 61, 188), rgb(58, 226, 58), yellow,rgb(58, 226, 58), rgb(22, 61, 188), rgb(58, 226, 58)) 1;
    background-color: rgb(253, 252, 252);
    width: 400px;
    height: 400px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#rp p{
    margin: 0.1px;
    margin-left: 125px;
    font-size: 12px;
    color: rgb(0, 0, 0);
    text-align: left;
}

.passLbl{
    margin-bottom:0.1px ;
}

#rp button {
    display: inline-block;
    vertical-align: top; /* Align the button with the top of the labels */
    margin-right: 15px; /* Adjust the margin as needed */
}

#rplinks {
    margin-right: 5px;
}

#rpp {
    display: inline-block;
    width: 125px; /* Adjust the width as needed */
    font-size: 14px;
    margin-right: 0px;
}

#rprp {
    display: inline-block;
    width: 120px; /* Adjust the width as needed */
    font-size: 14px;
    margin-right: 5px;
}