#settingsback{
  height: 100vh;
  background-color: rgb(197, 233, 188);
  border: rgb(197, 233, 188);
  display: flex;
  align-items: center;
  justify-content: center;
}

#plantSettings {
  width: auto;
  height: auto;
  border: 3px solid rgb(97, 198, 97);
  background-color: aliceblue;
}

#plantSettings2 {
  width: auto;
  height: auto;
  border: 3px solid rgb(97, 198, 97);
  background-color: aliceblue;
  margin-left: 10px;
}
/* #settings{
  margin-right:50px;
} */

#settingsMT {
  margin-left: 5px;
}

#settingtext{
  width: 110px;
  margin-left: 10px;
}

#settingtextMT{
  margin-left: 5px;
  width: 110px;
}

#settingtext2{
  color: black;
  margin-left: 75px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#settingtext3{
  font-size: 30px;
  color: black;
  margin-left: 40px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.horizontal-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: black;
}

.horizontal-container label,
.horizontal-container input{
  margin-right: 10px;
}
#Sbacklink {
  vertical-align: center;
  margin-left: 118px;
}

#plantSettings {
  width: 400px;
}

#FPBtn{
  align-items: center;
  color: black;
  margin-left: 120px;
}

#wBtn{
  align-items: center;
  color: black;
  margin-left: 130px;
  margin-bottom: 10px;
}

#settingtextW {
  margin-left: 10px;
}