#settingsback{
  height: 100vh;
  background-color: rgb(197, 233, 188);
  border: rgb(197, 233, 188);
  display: flex;
  align-items: center;
  justify-content: center;
}

#plantSettings {
  width: auto;
  height: auto;
  border: 3px solid rgb(97, 198, 97);
  background-color: aliceblue;
}

#settings{
  margin-right:50px;
}

#settingtext{
  width: 110px;
}

#settingtext2{
  color: black;
  margin-left: 60px;
}
.horizontal-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: black;
}

.horizontal-container label,
.horizontal-container input{
  margin-right: 10px;
}
#Sbacklink {
  vertical-align: center;
  margin-left: 118px;
}

#plantSettings {
  width: 400px;
}

#FPBtn{
  align-items: center;
  color: black;
  margin-left: 120px;
}